{% extends 'layout.twig' %}

{% block content %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia atque qui cupiditate in laboriosam, soluta nisi iste modi id veniam voluptates consequatur repellat at adipisci tempore doloribus ipsum velit blanditiis!</p>
{% endblock %}
